<!DOCTYPE html>
<html ng-app="formParams">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link href="/plugins/project-value-capture/resource/style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div ng-controller="projectController" class="custom-app-container">
        
        <main class="custom-card">
            <div class="custom-card-header">
                <h3>Project Data Entry</h3>
            </div>
            
            <div class="custom-card-body">
                <div class="custom-form-group">
                    <label>Project Name:</label> 
                    <input type="string" ng-model="config.projName" placeholder="Your project name" required>
                </div>
                
                <div class="custom-form-group">
                    <label>Project Type:</label> 
                    <div class="custom-radio-group">
                        <span ng-repeat="n in projTypes" class="custom-radio-option">
                            <input type="radio" name="projType" ng-model="$parent.config.projType" ng-value="n" /> {{n}}
                        </span>
                    </div>
                </div>
                
                <div class="custom-hidden-section" ng-show="config.projType === 'Industrialization' || config.projType === 'Ad-Hoc'">
                    
                    <div class="custom-form-row">
                        <div ng-show="config.projType === 'Industrialization' " class="custom-form-group custom-half-width">
                            <label>APM ID:</label> 
                            <input type="string" ng-model="config.idAPM" placeholder="APM ID from system">
                        </div>
                        
                        <div class="custom-form-group custom-half-width">
                            <label>GBU:</label> 
                            <select dku-bs-select="{liveSearch:true}" ng-model="config.gbu" ng-options='g for g in gbuOptions' /> 
                        </div>
                    </div>
                    
                    <div class="custom-form-row">
                        <div class="custom-form-group custom-half-width">
                            <label>Business Owner:</label> 
                            <select dku-bs-select="{liveSearch:true}" multiple ng-model="config.businessOwner" ng-options="u for u in usersA"></select> 
                        
                            <div class = "custom-form-group custom-other-input-container" ng-show="config.businessOwner.includes('Other')">
                                 <label>Please Specify:</label>
                                 <input type="text" ng-model="config.customBusinessOwner" placeholder="Custom business owner name">
                            </div>
                        </div>
                        
                        <div class="custom-form-group custom-half-width">
                            <label>Technical Owner:</label> 
                            <select dku-bs-select="{liveSearch:true}" multiple ng-model="config.technicalOwner" ng-options="u for u in usersB"></select> 
                            <div class = "custom-form-group custom-other-input-container" ng-show="config.technicalOwner.includes('Other')">
                                 <label>Please Specify:</label>
                                 <input type="text" ng-model="config.customTechnicalOwner" placeholder="Custom technical owner name">
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="custom-form-group">
                        <label>Problem Statement:</label> 
                        <textarea ng-model="config.problemStatement" placeholder="Describe the goal of your project"></textarea>
                    </div>
                    
                    <div class="custom-form-group">
                        <label>Solution Description:</label> 
                        <textarea ng-model="config.solutionDescription" placeholder="Describe underlying process or solution for your project"></textarea>
                    </div>
                    
                    <div class="custom-form-group">
                        <label>Relevant Links (Optional)</label>
                        <table cellspacing="0" class="custom-data-table">
                            <thead>
                                <tr>
                                    <th>Label</th>
                                    <th>URL</th>
                                    <th style="text-align: center;"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="label in config.labels">
                                    <td><input type="text" ng-model="label.label" placeholder="e.g. Jira Board, must be unique"></td>
                                    <td><input type="text" ng-model="config.links[$index].link" placeholder="https://..."></td>
                                    <td class="custom-action-cell">
                                        <div class="custom-action-btn custom-add-btn" ng-click="addLink(label)">+</div>
                                        <div class="custom-action-btn custom-delete-btn" ng-click="deleteLink(label)">−</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="custom-form-group">
                        <label>Value Drivers</label>
                        <table cellspacing="0" class="custom-data-table">
                            <thead>
                                <tr>
                                    <th>Driver</th>
                                    <th>Impact Size</th>
                                    <th style="text-align: center;"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="driver in config.drivers">
                                    <td>
                                        <select dku-bs-select="{liveSearch:true}" 
                                                ng-model="driver.driver"
                                                ng-options="d for d in driverOptions">
                                        </select>
                                    </td>
                                    
                                    <td>
                                        <input type="number" 
                                               ng-if="(driver.driver == 'Improve Profit Margin' || driver.driver == 'Increase Revenue' || driver.driver == 'Decrease Costs')" 
                                               ng-model="config.impacts[$index].impact" 
                                               placeholder="Enter value in USD ($)">
                                    
                                        <select dku-bs-select="{liveSearch:true}" 
                                                ng-if="(driver.driver != 'Improve Profit Margin' && driver.driver != 'Increase Revenue' && driver.driver != 'Decrease Costs')" 
                                                ng-model="config.impacts[$index].impact"
                                                ng-options="o for o in nonFinImpactOptions">
                                        </select>
                                    </td>
                                    
                                    <td class="custom-action-cell"> 
                                        <div class="custom-action-btn custom-add-btn" ng-click="addDriver(driver)">+</div>
                                        <div class="custom-action-btn custom-delete-btn" ng-click="deleteDriver(driver)">−</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>  
</body>
</html>