<link href="/plugins/project-value-capture/resource/style.css" rel="stylesheet" type="text/css">

<div ng-controller="projectController" class="custom-app-container">
    <main class="custom-card">
        <div class="custom-card-header">
            <h3>Project Data Entry</h3>
        </div>

        <div class="custom-card-body">
            <div class="custom-form-group">
                <label>Project Name:</label> 
                <input type="text" ng-model="config.projName" placeholder="Your project name" required>
            </div>

            <div class="custom-form-group">
                <label>Project Description (Optional):</label>
                <textarea ng-model="config.projectDescription" placeholder="Briefly describe your project"></textarea>
            </div>
            
            <div class="custom-form-group">
                <label>Project Type:</label> 
                <div class="custom-radio-group">
                    <span ng-repeat="n in projTypes" class="custom-radio-option">
                        <input type="radio" name="projType" ng-model="$parent.config.projType" ng-value="n" /> {{n}}
                    </span>
                </div>
            </div>
            
            <div class="custom-hidden-section" ng-show="config.projType === 'Industrialization' || config.projType === 'Ad-Hoc'">
                
                <div class="custom-form-row">
                    <div ng-show="config.projType === 'Industrialization'" class="custom-form-group custom-half-width">
                        <label>APM ID:</label> 
                        <input type="text" ng-model="config.idAPM" placeholder="APM ID from system">
                    </div>
                    
                    <div class="custom-form-group custom-half-width">
                        <label>GBU:</label> 
                        <select dku-bs-select="{liveSearch:true}" ng-model="config.gbu" ng-options="g for g in gbuOptions"></select>
                    </div>
                </div>
                
                <div class="custom-form-row">
                    <div class="custom-form-group custom-half-width">
                        <label>Business Owner:</label> 
                        <select dku-bs-select="{liveSearch:true}" multiple ng-model="config.businessOwner" ng-options="u for u in usersA"></select> 
                    
                        <div class="custom-form-group custom-other-input-container" ng-show="config.businessOwner.indexOf('Other') !== -1">
                             <label>Please Specify:</label>
                             <input type="text" ng-model="config.